@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.header{
    background-color: #222222;
    display: flex;
    width: 100%;
    height: 90px; 
    padding: 10px;
    justify-content:space-between;
    align-items: center;
}
.header-h1{
    display: flex;
}
.header-colorlogo{
    display: flex;
}

.pizza {
    color: green;    
  }
  
  .ampersand {
    color: white;
  }
  
  .front {
    color: red;
  }

  .header-navegacion{
    display: flex;
    color: #f3f3f3;
    font-size: 16px; 
  }

.header-navegacion ul {
    display: flex;
       
}
.header ul li {
    margin-right: 10px;   
    list-style-type: none; 
}

.main-container {
    display: flex;
    background-color: #E5E5E5;
    padding: 40px 20px;
    width: 100%; 
    height: 500px;   
    justify-content: space-between;
}

.main-h2 {
    background-image: url('../img/delivery.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #FC200C;
    font-size: 20px;
    flex-basis: 100%;
    text-align: center;
}
.texto-blanco {
    color: white;
}

.main-podio{
    background-color: #FFFFFF;
    background-image: url('../img/PizzaFalling.jpg');
    background-repeat: no-repeat;
    background-position: 350px 150px;
    background-size: 130px;
    display: flex;
    flex-basis: 100%;
    justify-content:space-evenly;    
    margin-left: 10px;
}

.titulo-podio{
    position: absolute;
    color: #FC200C;
    font-size: 20px;
}

.top-5{
    flex-basis: 100%;
    font-size: 20px;
    padding-left: 30px;
    margin: auto;    
}


footer {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footer-navegacion ul {
    display: flex;
    color: #f3f3f3;
    font-size: 16px; 
}

.footer ul li {
    margin-right: 10px;   
    list-style-type: none; 
}

.footer-logo{
    display: flex;
    padding-right: 20px;
   
    
}


